

<div class="container">
  <div class="col-md-3">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tabFind" data-toggle="tab">Find</a></li>
      <li><a href="#tabAddNew" data-toggle="tab">Add New</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tabAddNew">
        <%= render 'admin/leagues/new' %>

      </div>
      <div class="tab-pane active" id="tabFind">
        <%= label_tag :Find %>
        <%= form_tag(admin_leagues_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Leagues"  %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="tabbable col-md-8"> <!-- Only required for left/right tabs -->
   <ul class="nav nav-tabs">
    <li class="active"><a href="#tabLeagues" data-toggle="tab">Leagues (<%=League.all.count %>)</a></li>
    <li><a href="#tabConferences" data-toggle="tab">Conferences</a></li>
    <li><a href="#tabDivisions" data-toggle="tab">Divisions</a></li>
    <li><a href="#tabTeams" data-toggle="tab">Teams</a></li>
    <li><a href="#tabPlayers" data-toggle="tab">Players</a></li>
    <li><a href="#tabUsers" data-toggle="tab">Users</a></li>
   </ul>
   <div class="tab-content">
    <div class="tab-pane active" id="tabLeagues">

      <%= render 'admin/leagues/index' %>

    </div>

    <div class="tab-pane" id="tabConferences">
      <h1>Conferences</h1>
    </div>
    <div class="tab-pane" id="tabDivisions">
      <h1>Divisions</h1>
    </div>
    <div class="tab-pane" id="tabTeams">
      <h1>Teams</h1>
    </div>
    <div class="tab-pane" id="tabPlayers">
      <h1>Players</h1>
    </div>
    <div class="tab-pane" id="tabUsers">
      <h1>Users</h1>
    </div>
   </div>
  </div>

</div>
